* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 87.5%;
    }
}

#container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#containerNotas {
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #969cb3;
}

#containerNotas>img {
    width: 10rem;
    padding: 0.5rem;
}

#containerSaldo {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#notasRetiradas {
    height: 1.5em;
}

#display {
    display: flex;
    align-items: center;
}

#saldoValue {
    padding: 0.5rem;
    font-size: 1.1em;
}

input {
    width: 10rem;
    padding: 0 1.5rem;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #d7d7d7;
    background: #e7e9ee;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input:focus {
    outline: none;
}

button {
    padding: 0 1.5rem;
    width: 10rem;
    height: 2rem;
    background: #E52E4D;
    color: #FFF;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(0.9);
}

button {
    cursor: pointer;
}

h2 {
    font-size: 1.5em;
    padding: 0.5rem;
    color: #33CC95;
}